<%- include("Partials/header"); -%>

<h1>home</h1>
<p><%=StartingContent%></p>

<% posts.forEach(function(post){ %>

  <% post.body = (post.body).substring(0,100) + "..."; %> 

  <h1><%= post.title %></h1>
  <p><%= post.body %></p>

<% }); %>

<%- include("Partials/footer"); -%>
